<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="shebi.library.golibraryapp">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/splash"
        android:label="GoLibraryApp"
        android:roundIcon="@drawable/splash"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Splash.SplashActivity">

        </activity>
        <activity android:name=".AddCategoryActivity"></activity>
        <activity android:name=".ProgrammingActivity" />
        <activity android:name=".CategoryActivity" />
        <activity android:name=".profileActivity" />
        <activity android:name=".DataGetActivity" />
        <activity android:name=".SignUpActivity" />
        <activity android:name=".ResetPasswordActivity" />
        <activity android:name=".Dashboard" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>